.contribute
  :markdown
    # Help Transcribe the<br/>WWDC 2012 Sessions!

    Apple did a great job transcribing the sessions for this past WWDC, but there's still a ton of content trapped inside videos from previous years.

    If you appreciate the convenience of having all of the content on ASCIIwwdc readily available to you, then consider helping out by transcribing some of these past sessions (since 2012 Sessions are the most in-demand and relevant, we're starting with those).

    After you get the hang of it, you should be able to crank out a transcription in near real-time. And by taking the time to type everything out, you'll know the source material better than you could ever imagine.

    ## How to Contribute

    1. [Create a Dotsub account](http://dotsub.com/enterprise/signup)
    2. Post a comment on [this GitHub Issue thread](https://github.com/mattt/asciiwwdc.com/issues/13) with your Dotsub username.
    3. Once someone on the team has added you to the ASCIIwwdc group on Dotsub, you'll be all set to start transcribing videos _(unfortunately, this isn't something that can be automated yet)_.

    > [Dotsub](http://dotsub.com/) is a free, crowdsourcing-friendly video transcription CMS that will be used to provide tooling around the whole process.

