.contribute
  :markdown
    # Help Transcribe the<br/>WWDC 2012 Sessions!

    Apple did a great job transcribing the sessions for this past WWDC, but there's still a ton of content trapped inside videos from previous years.

    If you appreciate the convenience of having all of the content on ASCIIwwdc readily available to you, then consider helping out by transcribing some of these past sessions (since 2012 Sessions are the most in-demand and relevant, we're starting with those).

    After you get the hang of it, you should be able to crank out a transcription in near real-time. And by taking the time to type everything out, you'll know the source material better than you could ever imagine.

    [See this GitHub Issues thread for full instructions](https://github.com/mattt/asciiwwdc.com/issues/13).
