.contribute
  :markdown
    # Help Transcribe the<br/>WWDC 2012 Sessions!

    Apple did a great job transcribing the sessions for this past WWDC, but there's still a ton of content trapped inside videos from previous years.

    If you appreciate the convenience of having all of the content on ASCIIwwdc readily available to you, then consider helping out by transcribing some of these past sessions (since 2012 Sessions are the most in-demand and relevant, we're starting with those).

    After you get the hang of it, you should be able to crank out a transcription in near real-time. And by taking the time to type everything out, you'll know the source material better than you could ever imagine.

    ## Instructions

    - Select a [session video on Amara](http://www.amara.org/en/profiles/videos/asciiwwdc/)
    - Choose the English transcription on the left sidebar <br/>_(or click "Be the first to create subtitles!" if it doesn't exist yet)_
    - Use the in-browser widget to transcribe the video

    Transcriptions will be pushed to ASCIIwwdc periodically.<br/>
    Follow [@ASCIIwwdc](https://twitter.com/ASCIIwwdc) for the latest changes to the site.
