%section#wwdc-2015.conference{itemscope: true, itemtype: "http://schema.org/Event"}
  %header
    %img{src: '/images/wwdc-2015.png', width: 130, height: 125}

    %hgroup
      %h1{itemprop: "name"} WWDC 2015
      %h2 Soon...

    %time{itemprop: "startDate", content: "2015-06-08T10:00"}
    %address{itemprop: "location", itemscope: true, itemtype: "http://schema.org/PostalAddress", hidden: true, style: "display:none;"}
      %span{itemprop: "name"} Moscone West
      %span{itemprop: "streetAddress"}747 Howard St.
      %span{itemprop: "addressLocality"} San Francisco
      %span{itemprop: "addressRegion"} CA
      %span{itemprop: "postalCode"} 94103
      %span{itemprop: "addressCountry"} US

