%section#wwdc-2011.conference{itemscope: true, itemtype: "http://schema.org/Event"}
  %header
    %img{src: '/images/wwdc-2011.jpg', width: 130, height: 125}

    %hgroup
      %h1{itemprop: "name"} WWDC 2011
      %h2 iOS 5, OS X Lion, & iCloud

    %time{itemprop: "startDate", content: "2011-06-06T10:00"}
    %address{itemprop: "location", itemscope: true, itemtype: "http://schema.org/PostalAddress", hidden: true, style: "display:none;"}
      %span{itemprop: "name"} Moscone West
      %span{itemprop: "streetAddress"}747 Howard St.
      %span{itemprop: "addressLocality"} San Francisco
      %span{itemprop: "addressRegion"} CA
      %span{itemprop: "postalCode"} 94103
      %span{itemprop: "addressCountry"} US

  - tracks = @sessions[2011].group_by(&:track)
  - groups = [["General", "App Frameworks"], ["Core OS", "Developer Tools"],  ["Graphics, Media, & Games", "Internet & Web"]]
  - for group in groups
    .group
      - for track in group
        - sessions = tracks[track]
        %section.track{id: track.downcase.gsub(/\s+/, "-")}
          %h1= track
          %dl.sessions
            - for session in sessions
              %dt{id: "session-#{session.number}"}= session.number
              %dd.title{itemprop: "subEvent", itemscope: true, itemtype: "http://schema.org/Event"}
                %a{href: url(session), title: session.title, itemprop: "name"}= session.title + ("*" unless session.transcribed?).to_s
