%section#wwdc-2016.conference{itemscope: true, itemtype: "http://schema.org/Event"}
  %header
    %img{src: '/images/wwdc-2016.png', width: 125, height: 100}

    %hgroup
      %h1{itemprop: "name"} WWDC 2016
      %h2 iOS 10, macOS Sierra, watchOS 3, Xcode 8

    %time{itemprop: "startDate", content: "2016-06-03T10:00"}
    %address{itemprop: "location", itemscope: true, itemtype: "http://schema.org/PostalAddress", hidden: true, style: "display:none;"}
      %span{itemprop: "name"} Moscone West
      %span{itemprop: "streetAddress"} 747 Howard St.
      %span{itemprop: "addressLocality"} San Francisco
      %span{itemprop: "addressRegion"} CA
      %span{itemprop: "postalCode"} 94103
      %span{itemprop: "addressCountry"} US

  - tracks = @sessions[2016].group_by(&:track)
  - groups = [["Featured", "App Frameworks"], ["Distribution", "Developer Tools", "Media"], ["Graphics and Games", "System Frameworks", "Design"]]
  - for group in groups
    .group
      - for track in group
        - sessions = tracks[track]
        %section.track{id: track.downcase.gsub(/\s+/, "-")}
          %h1= track
          %dl.sessions
            - for session in sessions
              %dt{id: "session-#{session.number}"}= session.number
              %dd.title{itemprop: "subEvent", itemscope: true, itemtype: "http://schema.org/Event"}
                %a{href: url(session), title: session.title, itemprop: "name"}= session.title + ("*" unless session.transcribed?).to_s
