%section#wwdc-2013.conference
  %header
    %img{src: '/images/wwdc-2013.png', width: 130, height: 125}

    %hgroup
      %h1 WWDC 2013
      %h2 iOS 7, Mac OS X Mavericks, Xcode 5

  - tracks = @sessions[2013].group_by(&:track)
  - groups = [["Special Events", "Frameworks"], ["Services", "Tools", "Graphics and Games"], ["Media", "Core OS"]]
  - for group in groups
    .group
      - for track in group
        - sessions = tracks[track]
        %section.track{id: track.downcase.gsub(/\s+/, "-")}
          %h1= track
          %dl.sessions
            - for session in sessions
              %dt{id: "session-#{session.number}"}= session.number
              %dd.title
                %a{href: url(session), title: session.title}= session.title
